.md-typeset .mdx-switch button {
    cursor: pointer;
    transition: opacity .25s
}

.md-typeset .mdx-switch button:focus,.md-typeset .mdx-switch button:hover {
    opacity: .75
}

.md-typeset .mdx-switch button>code {
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
    display: block
}

blockquote.song 
{
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            text-size-adjust: 100%;
            font-family: "LXGW WenKai Screen";
            font-size: 100% !important;
            overflow-wrap: break-word;
            word-break: keep-all;
            line-height: 1.778;
            font-weight: 300;
            letter-spacing: 1px;
            margin-left: auto;
            margin-right: auto;
            z-index: -1;
            margin-top: 1.35em;
            margin-bottom: 1.35em;
            background: #fafafd;
            padding-top: 16px;
            border-left: 0;
            display: flex;
            justify-content: flex-end;
            padding-bottom: 0;
            border-left: solid 3px #5f6867;
}

blockquote.song p {
    font-size: 20px;
    overflow-wrap: break-word;
    word-break: break-word;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 1em;
    color: #888;
    line-height: 1.6 !important;
    text-align: start;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    _writing-mode: tb-rl;
    min-height: 380px;
    height: auto;
    overflow: auto;
}

/* 古诗文标题 */
blockquote.song tt {
    font-family: "LXGW WenKai Screen";
    font-size: 24px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.2em;
    font-weight: 450;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
}

/* 作者 */
blockquote.song at {
    display: flex;
    color: #919191;
    padding-top: 4em;
    padding-bottom: 1.5em;
}

/* 滚动条 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #404040;
}

/*
<blockquote class="song">
<p>
            <tt>听颖师弹琴</tt><br>
            <at>韩愈</at><br>昵昵儿女语，<br>恩怨相尔汝。<br>划然变轩昂，<br>勇士赴敌场。<br>浮云柳絮无根蒂，<br>天地阔远随飞扬。<br>喧啾百鸟群，<br>忽见孤凤皇。<br>跻攀分寸不可上，<br>失势一落千丈强。<br>嗟余有两耳，<br>未省听丝篁。<br>自闻颖师弹，<br>起坐在一旁。<br>推手遽止之，<br>湿衣泪滂滂。<br>颖乎尔诚能，<br>无以冰炭置我肠！<br>
        </p>
</blockquote>
*/
